@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --amazon: #4a7c59;
  --turquoise-green: #b3dec1;
  --english-violet: #413c58;
  --baby-pink: #efc7c2;
  --brownish-pink: #a85751;
  --medium-grey: #d8d8d8;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
