@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --amazon: #4a7c59;
  --turquoise-green: #b3dec1;
  --english-violet: #413c58;
  --baby-pink: #efc7c2;
  --brownish-pink: #a85751;
  --medium-grey: #d8d8d8;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(179, 222, 193);
  background: radial-gradient(
    circle,
    rgba(179, 222, 193, 1) 45%,
    rgba(216, 216, 216, 1) 79%,
    rgba(255, 255, 255, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: -0.02em;
  color: var(--english-violet);
}

h2 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -0.02em;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.02em;
}
